header {
    width: 100vw;
    height: 15vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#logo {

    width: 5vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    width: 100%;
    height: 100%;


}

#texto header h1 {

    font-size: 30px;
}



.botoes {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.botoes button h6 {
    margin: 0;
    font-size: 10px;


}

.botoes button {
margin: 3vw;
    border-radius: 50px;
    transition: transform 0.10s ease-in-out;

}

.botoes button:hover {

    transform: scale(1.1);

}




#icone_baixo {

    width: 20px;
    height: 10px;
    transition: transform 0.5s ease-in-out;

}

@media(max-width: 490px) {}