@import url(./header.css);
@import url(./section.css);
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
    overflow-x: hidden;
  background-image: url(https://img.freepik.com/fotos-premium/um-fundo-abstrato-preto-e-branco-com-um-fundo-preto_670382-8876.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
    }
    
@media(max-width: 490px) {}