@import url(./header.css);
@import url(./section.css);
@import url(./footer.css);
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: url('./../assets/img/DALL·E\ 2024-09-20\ 15.31.51\ -\ A\ stylized\ astronaut\ floating\ in\ space\ with\ abstract\ shapes\ and\ colors\,\ matching\ the\ vibrant\ explosion\ of\ colors\ from\ the\ original\ plasma\ image.\ The\ a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  
}

#blur{
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);


  z-index: -1;
}

@media (max-width: 480px) {
  header {
    height: 12vh;
    flex-direction: column;
    justify-content: center;
  }

  #logo img {
    width: 25vw;
    margin: 1vw;
  }

  #textoheader h1 {
    font-size: 6vw;
  }

  #botoesm button {
    margin: 3vw;
    font-size: 4vw;
    padding: 2vw;
  }

  .botoes h6 {
    font-size: 3vw;
  }

  .botoes button {
    margin: 3vw;
    padding: 2vw;
  }

  section {
    flex-direction: column;
    height: auto;
    margin: 5vh 0;
  }

  #png_principal {
    margin: 5vw;
    width: 90vw;
  }

  #flex {
    width: 90vw;
    height: auto;
    margin: 5vw 0;
  }

  footer {
    left: 0;
    width: 100vw;
    text-align: center;
    bottom: 0;
  }

  #git {
    font-size: 5vh;
  }
}