section {
    width: 100vw;
    height: 80vh;
    margin: 20vh;
    display: flex;
    flex-direction: row;
}

#png_principal {
    width: 40vw;
}

#sub_titulo {

    color: rgb(245, 241, 241);

}


#texto {

    color: rgb(245, 241, 241);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    margin: 0vw
}




#flex {
    width: 40vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


@media (max-width:480px) {
    section {
        width: 100vw;
        height: 80vh;
        margin: 20vh;
        display: flex;
        flex-direction: row;
    }

    #png_principal {

        margin: 3vw;
    }

    #sub_titulo {

        color: rgb(245, 241, 241);

    }


    #texto {

        color: rgb(245, 241, 241);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        margin: 0vw
    }




    #flex {
        width: 40vw;
        height: 25vh;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

}