body {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

}

#cartoes{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    
}





.cartao {

    width: 200px;
    height: 200px;
    margin: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5%;

    background-color: white ;
}

.cartao img {

    width: 150px;
    height: 150px;

    background-size: cover;
}
