<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../css/formacao/farmacao.css">
    <script type="module" src="./../../controller/formacoes/formacoes.js"> </script>
    <script type="module" src="./../../controller/projetos/projetos.js"> </script>

<body>
    <section id="cartoes">
     
    </section>
    <section id="telaCadastro">

        <div id="inputs_card">
            <input id="nome" type="text" placeholder="nome">
            <input id="valor" type="text" placeholder="valor">
            <input id="link" type="text" placeholder="link da imagem">



            <div id="butto_telacard">
                <button onclick="recolheDados()">SALVAR</button>
                <button onclick="escondeTelaCad()">CANCELAR</button>

            </div>
        </div>


    </section>
</body>

</html>