<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mr Olimpia FB </title>
    <link rel="stylesheet" href="./../css/index/index.css">
    <script src="https://kit.fontawesome.com/4eaaa17cca.js" crossorigin="anonymous"> </script>
    <script src="./../../controller/index.js" defer> </script>
</head>

<body>

    <header>
        <div id="logo">
            <img src="./../../assets/img/converted_star_image-removebg-preview.png">
        </div>
        <div id="textoheader">
            <h1> Luiz Henrique Correia Aluno do Bryam  </h1>
        </div>
        <div id="botoesm">
            <button class="botoes" onclick="window.location.href='./perfil.html'">
                <h6> Perfil </h6>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>

            <button class="botoes" onclick="window.location.href='./formacao.html'">
                <h6> formacao </h6>
                <i class="fa-brands fa-instagram"></i>
            </button>
            <button class="botoes" onclick="window.location.href='./projetos.html'">
                <h6> Projetos </h6>
                <i class="fa-brands fa-github"></i>
            </button>

        </div>

    </header>

    <section>


        <div id="flex">
            <h2 id="sub_titulo">Luiz Henrique Correia Serpa</h2>
            <p id="texto">
                Ramom Dino e Chris Bumstead são dois dos maiores nomes do fisiculturismo atual, especialmente no
                palco
                do
                Mr. Olympia, o maior campeonato do esporte. Na categoria Classic Physique, ambos têm trajetórias
                incríveis
                que culminam em confrontos épicos nas finais.
            </p>
        </div>

    </section>

    <footer id="footer">
        <div>

        </div>
    </footer>

</body>

</html>